@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.images {
  display: flex;

  width: 100vw;

  justify-content: center;
  align-items: center;
}
